/* Estilo base del header */
.header-simple {
  background-color: #87CEFA;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.header-nav {
  display: flex;
  gap: 20px;
}

/* Estilo para los botones */
.header-button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.header-button:hover {
  color: #02fcbd;
}

/* Botón de menú móvil */
.menu-toggle {
  display: none; /* Por defecto, no visible en pantallas grandes */
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 800px) {
  .menu-toggle {
    display: block; /* Mostrar el botón de menú */
  }

  .header-nav {
    display: none; /* Ocultar menú por defecto */
    flex-direction: column;
    background-color: #87CEFA;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px 15px;
    border-radius: 8px;
  }

  .header-nav.nav-open {
    display: flex; /* Mostrar el menú cuando esté activo */
  }

  .header-button {
    text-align: left; /* Ajustar alineación para menú móvil */
    margin-bottom: 10px;
  }
}
