.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-header img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-header h1 {
  font-size: 24px;
  color: #333;
}

.profile-info {
  margin-top: 20px;
}

.profile-info p {
  font-size: 16px;
  margin: 5px 0;
  color: #555;
}

.rating-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.rating-container .stars {
  color: #FFD700; /* Amarillo dorado */
  font-size: 25px; /* Tamaño ajustable */
  margin-right: 5px;
}


.rating-container span {
  font-size: 18px;
  color: #333333;
}

.add-appointment {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-appointment button {
  background-color: #03d39f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-appointment button:hover {
  background-color: #03d39f;
}

.price-info {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  border-bottom: 2px solid #ddd;
}

.tabs button {
  background: none;
  border: none;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  color: #555;
  transition: color 0.3s;
}

.tabs button:hover,
.tabs button.active {
  color: #03d39f;
  border-bottom: 2px solid #03d39f;
}

.info-section {
  margin-top: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  font-size: 20px; /* Aumentamos el tamaño del texto */
  color: #333;
}

.info-section p {
  margin: 0;
  line-height: 1.6; /* Mejora la legibilidad */
}

.reviews-section {
  margin-top: 20px;
}

.reviews-section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.reviews-section th, .reviews-section td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.reviews-section th {
  background-color: #f1f1f1;
}

.reviews-section tr:nth-child(even) {
  background-color: #f9f9f9;
}

